
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyGlide Search</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="search-header">
            <h1 class="logo">PyGlide</h1>
            <form id="search-form" class="search-form">
                <input type="text" id="search-input" name="q" placeholder="Explorar a galáxia...">
                <button type="submit">Buscar</button>
            </form>
        </header>
        
        <main id="results-container" class="results-container">
            <!-- Os resultados da busca aparecerão aqui -->
        </main>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
